apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cafe-sales-ingress
  namespace: tp-microservices
  annotations:
    # On utilise l'annotation de redirection native de l'Ingress Nginx 
    # ou on laisse Traefik gérer le préfixe si le backend est configuré pour.
    ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: backend-service
            port:
              number: 80
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-service
            port:
              number: 80